{% extends "base.html"%}
{% load custom_tags %}

{% block title %}
Leituras
{% endblock title %}

{% block content %}
<!-- Content Header (Page header) -->
{% include 'includes/content-header.html' with title='Cadastrar leitura' %}

<!-- Main content -->
<section class="content  d-flex justify-content-center">
	<div class="container-fluid p-5">
		<div class="card">
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col">
							<label>Livro</label>
							{{form.livro | addClass:'form-control'}}
						</div>
						<div class="col">
							<label>Autor</label>
							<input type="text" id="autor" class="form-control" disabled placeholder="Autor">
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<label>Status</label>
							{{form.status | addClass:'form-control'}}
						</div>
						<div class="col-6" >
							<label>Avaliação</label>
							<div class="form-control" style="border: 0">
								
								<div class="rating">
									<input type="radio" name="rating" id="rating-5" value="5">
									<label for="rating-5"></label>
									<input type="radio" name="rating" id="rating-4" value="4">
									<label for="rating-4"></label>
									<input type="radio" name="rating" id="rating-3" value="3">
									<label for="rating-3"></label>
									<input type="radio" name="rating" id="rating-2" value="2">
									<label for="rating-2"></label>
									<input type="radio" name="rating" id="rating-1" value="1">
									<label for="rating-1"></label>
								</div>
							</div>
						</div>

					</div>
					<div class="form-group row">
						<div class="col">
							<label>Resenha</label>
							{{form.resenha | addClass:'summernote'}}
						</div>
					</div>
					<div class="d-flex justify-content-end b-1">
						<button class="btn btn-secondary m-1" type="button">Voltar</button>
						<button class="btn btn-primary m-1" type="submit">Enviar</button>
					</div>

				</form>
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->
</section>
<script>
        window.onload = function(){
			$('.summernote').summernote({
				height: 120,
				disableResizeEditor: true
			});

            livros = {{livros | js}}
            $('#selectLivro').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                var valueSelected = this.value;
                if(!valueSelected)
                    $("#autor").val('');
                else{
                    for(const livro of livros) {
                        if(livro.id == valueSelected)
                            $("#autor").val(livro.autor);
                    }
                }
            });
        }

    </script>
<!-- /.content -->
{% endblock content %}